$footer-background-color: black;
$footer-height: 100%;
$footer-margin-top: 20%;
$footer-color: white;

footer {
    background-color: $footer-background-color;
    height: $footer-height;
    margin-top: $footer-margin-top;
    color: $footer-color;
}
#Footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    .grande {
        font-size: 20px;
    }

    .licontainer {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
