$footer-background-color: black;
$footer-height: 100%;
$footer-margin-top: 20%;

footer {
    background-color: $footer-background-color;
    height: $footer-height;
    margin-top: $footer-margin-top;
}